<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>

<nav class="navbar navbar-inverse bg-inverse navbar-fixed-bottom" data-th-fragment="footer">
      <div class="container">
          <p>Welcome to <a href="http://giteasy.cn">Welcome to giteasy.cn</a></p>
      </div>
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</nav>
</body>
</html>